*{
    margin: 0;
}
.wrapper{
    display:grid;
    grid-template-columns:85%;
    grid-gap:1em;
    background-color: #5876ee;
}
body{
    background: rgb(238,253,255);
    background: radial-gradient(circle, rgba(238,253,255,1) 0%, rgb(255, 255, 255) 51%, rgb(247, 243, 255) 100%);
}
.head ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #5876ee;
    font-size:1.5em;

}
.paragraph-align{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 19px;
    text-align: center;

}
.asTitle{
    font-size: 200%;
    text-align: center;
    color: rgb(41, 27, 145);
}
.tableStyle{
    margin: 10%;
    margin-left: 5%;
    border-spacing: 1.4em;
    font-size:20px;
    color:rgb(255, 255, 255);

}
.first{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;

}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60%;
    margin-top: 8%;
    margin-bottom: 8%;
    margin-left: 6%;
    margin-right: 6%;
    box-shadow: 0 0 40px 0px rgb(104, 138, 186);
    border-radius: 50px;
    background: #7f7fd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #7f7fd5, #86a8e7, #91d2ea); 
  background: linear-gradient(to right, #7f7fd5, #86a8e7, #91e1ea); 
}


.head ul li {
    float: left;
    margin: 4px;
}
.head ul li:last-child{
    float: right;
}
  
.head li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin :0;
    text-decoration: none;
}
.tableStyle tr td p {
    color: rgb(255, 255, 255);
    margin :0;
    font-size: 23px;
}

  
.tableStyle tr td a {
    color: rgb(255, 255, 255);
    margin :0;
    font-size: 20px;
    text-shadow: 2px 2px #000000;

    text-decoration: underline;
}
.fotr{
    height: 60px;
    background-color: #5876ee;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:700px)
{
    .wrapper{
        display:grid;
        grid-template-columns: 1fr;

        grid-template-columns:105%;
        grid-gap:1em;
        background-color: #5876ee;
    }
    .tableStyle{
        margin: 5%;
        border-spacing: 1.4em;
        color:rgb(255, 255, 255);
    }

    .tableStyle tr td p {
        color: rgb(255, 255, 255);
        margin :0;
        font-size: 70%;
    }
    .container{
        margin-left: 10%;
        margin: 10%;
    }
    

}