*{
    margin: 0;
}
.head ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #5876ee;
    font-size:1.5em;
}
.head ul li {
    float: left;
    margin: 4px;
}
.head ul li:last-child{
    float: right;
}
.head li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin :0;
    text-decoration: none;
}
.head li a:hover {
    background-color: #111;
}

#firstpic{
    height:400px;
    width: 100%;
}
.container{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:xx-large;
}

.wrapped{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    margin-left:150px;
    margin-right: 150px;
}
.wrapped div{
    display: flex;
    justify-content: center;
    background-color: grey;
}
.wrapped img{
    height: 200px;
    width: 300px;
}