*{
    margin: 0;
}
.nested{
    display: grid;
    grid-template-columns: 2fr 8fr 1fr;
    grid-auto-rows: minmax(400px,700px);
    grid-gap: 2em;
}
.head ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #5876ee;
    font-size:1.5em;
}
.head ul li {
    float: left;
    margin: 4px;
}
.head ul li:last-child{
    float: right;
}
.head li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin :0;
    text-decoration: none;
}

.head li a:hover {
    background-color: #111;
}

.leftmenu{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 20px;
    margin-left: 15px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #4D8FA9
    ;
}
.leftmenu h2{
    text-align: center;
    padding-bottom: 10px;
}
.filter{
    max-width: 350px;
    margin: auto;
    padding: 20px;
}
.statistica{
    display: grid;
    grid-template-rows: 600px;
}
.generare{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.generare img{
    padding: 20px;
    height:90%;
    width: 90%;
}
.butoane{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.butoane div{
    background-color: crimson;
    margin: 20px;
    width: 150px;
    height: 60px;
}
.butoane div a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 15px;
    margin :0;
    text-decoration: none;
    font-size:1.2em;
}
.butoane div a:hover{
    background-color: cyan;
}
input[type=text] , select{
    width:100%;
    padding:12px 20px;
    margin: 8px 0;
    display: inline-block;
    border:1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit]{
    width:100%;
    background: purple;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover{
    background: #000;
}