*{
    margin: 0;
}
.wrapper{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:1em;
}
.nested{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-auto-rows: minmax(400px,600px);
    grid-gap: 2em;
}
.head ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #5876ee;
    font-size:1.5em;
}
.fotr{
    height: 60px;
    background-color: #5876ee;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head ul li {
    float: left;
    margin: 4px;
}
.head ul li:last-child{
    float: right;
}
.head li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin :0;
    text-decoration: none;
}
.head li a:hover {
    background-color: #111;
}
