*{
    margin: 0;
}

.wrapper{
    background-color: #5876ee;
}
body{
    background: rgb(238,253,255);
    background: radial-gradient(circle, rgba(238,253,255,1) 0%, rgb(255, 255, 255) 51%, rgb(247, 243, 255) 100%);
}
.paragraph-align{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 19px;
    text-align: center;

}
.asTitle{
    font-size: 200%;
    text-align: center;
    color: rgb(41, 27, 145);
}
.tableStyle{
    margin: 10%;
    margin-left: 5%;
    border-spacing: 1.4em;
    font-size:20px;
    color:rgb(255, 255, 255);

}
.first{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;

}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60%;
    margin-top: 8%;
    margin-bottom: 8%;
    margin-left: 6%;
    margin-right: 6%;
    box-shadow: 0 0 40px 0px rgb(104, 138, 186);
    border-radius: 50px;
    background: #7f7fd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #7f7fd5, #86a8e7, #91d2ea); 
  background: linear-gradient(to right, #7f7fd5, #86a8e7, #91e1ea); 
}

.tableStyle tr td p {
    color: rgb(255, 255, 255);
    margin :0;
    font-size: 23px;
}

  
.tableStyle tr td a {
    color: rgb(255, 255, 255);
    margin :0;
    font-size: 20px;
    text-shadow: 2px 2px #000000;

    text-decoration: underline;
}


@media only screen and (max-width:700px)
{

    .tableStyle{
        margin: 5%;
        border-spacing: 1.4em;
        color:rgb(255, 255, 255);
    }

    .tableStyle tr td p {
        color: rgb(255, 255, 255);
        margin :0;
        font-size: 70%;
    }
    .container{
        margin-left: 10%;
        margin: 10%;
    }
    .footerAlign li {
        float: left;
        margin-right: 50px;
    }

}
@media only screen and (max-width:700px)
{
    .wrapper{
        display:grid;
        grid-template-columns: 1fr;
        
    }
    .text-align{

        margin: 10%;
        text-align:justify;
        font-size: 50%;
    
    }
    .imgclass {
        width: 80%;
        margin: 0%;
        margin-top: 30px;
        height: 80%;
    }
    .head{

        display: grid;
        list-style-type: none;
        padding: 0;
        overflow: hidden;
        background-color: #5876ee;
        font-size:0.75em;    
    }
    .asTitle{
        align-content: center;
        font-size: 25px;
        margin-bottom: 0px;
    }

    .footerAlign li {
        float: left;
        margin-right: 50px;
    }
}