
body{
    font-family: 'Poppins', sans-serif;
   
}

.first{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
 .butoane{
    display: flex;
    justify-content: space-around;
    margin: 10%;
}
.button {
    border: none;
    color: white;
    width:auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    display:inline-block;
    padding:  0.3em 1.2em;
    margin:  0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
  } 

#indicatorCode{
    margin-bottom: 20px;
}
.checkboxes{
    margin-left: 20px;
    margin-bottom: 20px;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 80%;
    height: 100%;
    margin-left: 10%;
}
.styled-table tr {
    border-bottom: 1px solid #dddddd;
}

table tr:nth-of-type(odd) {
    background-color: #e4e5f8;
}
table tr:hover {
    font-weight: bold;
    background-color: #5f8ddd;
}
.styled-table td {
    padding: 12px 15px;
}
#add{
    background-color: #294ac2;
}
.textInit{
    margin: 30px;
}
#modify{
    background-color: #0e991a;
}
#delete{
    background-color: #ec2929;
} 
#loo{
    height: 400px;
    width: 650px;

}
@media only screen and (max-width:870px)
{

    .butoane div{
        margin: 5px;
        width: 70px;
        height: 30px;
    }
    .butoane div a{
        display: block;
        color: white;
        text-align: center;
        padding: 8px 5px;
        text-decoration: none;
        font-size:0.9em;
    }
    .container {
        border-radius: 5px;
        padding: 5px;
        height: 100%;
        width: 70%;
      }
      .first{
          margin-top: 40px;
      }
      #loo{
        height: 100%;
        width: 100%;
    
    }
    .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        width: 80%;
        height: 100%;
        margin-left: 10%;
    }
    }
    
@media only screen and (max-width:480px)
{


    .butoane div{
        margin: 5px;
        width: 70px;
        height: 30px;
    }
    .butoane div a{
        display: block;
        color: white;
        text-align: center;
        padding: 8px 5px;
        text-decoration: none;
        font-size:0.9em;
    }
    .container {
    
        border-radius: 5px;
        padding: 5px;
        height: 100%;
        width: 100%;

      }
      .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        width: 80%;
        height: 90%;
        margin-left: 10%;
    }
    #loo{
        height: 90%;
        width: 90%;
    }
}

 @media only screen and (max-width:390px)
{

    .butoane div{
        margin: 5px;
        width: 70px;
        height: 30px;
    }
    .butoane div a{
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size:0.9em;
    }
    .container {
    
        border-radius: 0px;
        padding: 0px;
    

      }
      #loo{
        height: 90%;
        width: 90%;
    }
      .styled-table {
        border-collapse: collapse;
        font-size: 0.9em;
        font-family: sans-serif;
        width: 60%;
        height: 90%;
        margin-left: 10%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
    .styled-table td {
        padding: 12px 0px;
    }


} 

