*{
    margin: 0;
}
.nested{
    display: grid;
    grid-template-columns: 2fr 8fr 1fr;
    grid-gap: 2em;
}
.leftmenu{
    height: 85%;
    width: 100%;
    padding-top: 20px;
    margin-left: 15px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #0e74b8;
}
#selectAll{
    background-color: #1a67cc;
    border: 1px solid rgb(7, 2, 26); 
    color: white; 
    cursor: pointer; 
    margin-top: 0%;
    margin-bottom: 10px;
}
.leftmenu h2{
    text-align: center;
    padding-bottom: 10px;
}
.filter{
    max-width: 350px;
    margin: auto;
    padding: 20px;
}
.statistica{
    display: grid;
}
.reprezentare{
    margin: 30px;
    margin-bottom: 10px;
    height: 10%;
}
.btn-group button {
    background-color: #1a67cc;
    border: 1px solid rgb(7, 2, 26); 
    color: white; 
    padding: 10px 24px;
    cursor: pointer; 
    float: left; 
}
  
.btn-group button:not(:last-child) {
    border-right: none;
}
  
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}
  
.btn-group button:hover {
    background-color: #3e578e;
}
.generare{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    grid-template-rows: 700px;

}
.map{
    height: 100%  !important;
    width: 100%  !important;

}
.butoane{
    display: grid;
    margin:auto;
    grid-template-columns: 1fr 1fr 1fr;
}
.butoane div{
    background-color: crimson;
    margin: 20px;
    width: 150px;
    height: 60px;
}
.butoane div a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
    font-size:1.2em;
}
.butoane div :hover{
    transform: scale(1.2);
}
input[type=text] , select{
    width:100%;
    padding:12px 20px;
    margin: 8px 0;
    display: inline-block;
    border:1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit]{
    width:100%;
    background: purple;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover{
    background: #000;
}
.right-part{
    padding-top: 5%;
}
#logo{
    width: 70%;
    height: 100px;
}
.scroll {
    padding-left:20px;
    width: 75%;
    height: 110px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}
#first-scroll{
    margin-bottom: 8px;
    
}
::-webkit-scrollbar {
    width: 10px;
    height: 30px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}
@media only screen and (max-width:1250px)
{
    .head{
        display: grid;
        background-color: #5876ee;
        font-size:1.1em;
        width: 100%; 
    }
    .nested{
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-gap: 0;
    }
    .leftmenu{
        overflow-y: scroll;
        overflow-x: hidden;
        padding-top: 20px;
        border-radius: 10px;
        width: 200px;
        background-color: #4D8FA9;
    }
    .butoane div{
        background-color: crimson;
        margin: 20px;
        width: 120px;
        height: 50px;
    }
    .butoane div a{
        display: block;
        color: white;
        text-align: center;
        padding: 15px 5px;
        text-decoration: none;
        font-size:1.2em;
    }
}
@media only screen and (max-width:700px)
{
    .head{
        display: grid;
        background-color: #5876ee;
        font-size:0.9em;
        width: 100%; 
    }
    .nested{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 0;
    }
    .leftmenu{
        overflow-y: scroll;
        overflow-x: hidden;
        padding-top: 20px;
        border-radius: 10px;
        width: 170px;
        background-color: #4D8FA9;
    }
    .filter{
        max-width: 200px;
        margin: auto;
        padding: 20px;
    }
    .statistica{
        display: grid;
    }
    .generare img{
        padding: 20px;
        height:90%;
        width: 90%;
    }
    .butoane div{
        background-color: crimson;
        margin: 20px;
        width: 77px;
        height: 40px;
    }
    .butoane div a{
        display: block;
        color: white;
        text-align: center;
        padding: 10px 5px;
        text-decoration: none;
        font-size:1.2em;
    }
}

@media only screen and (max-width:570px)
{
    .head{
        display: grid;
        background-color: #5876ee;
        font-size:0.5em;
        width: 100%; 
    }
    .head ul li {
        float: left;
        margin: 1px;
    }
    .nested{
        display: grid;
        grid-template-columns: 1fr;
    }
    .leftmenu{
        overflow-x: scroll;
        padding-top: 5px;
        border-radius: 10px;
        width: 100%;
        height: 100px;
        background-color: #4D8FA9;
        margin-left: 0px;
    }
    .leftmenu h2{
        text-align: center;
        padding-bottom: 3px;
        font-size: small;
    }
    .filter{
        max-width: 200px;
        margin: auto;
        padding: 20px;
    }
    .statistica{
        display: grid;
    }
    .generare img{
        padding: 20px;
        height:90%;
        width: 90%;
    }
    .butoane div{
        background-color: crimson;
        margin: 5px;
        width: 70px;
        height: 30px;
    }
    .butoane div a{
        display: block;
        color: white;
        text-align: center;
        padding: 8px 5px;
        text-decoration: none;
        font-size:0.9em;
    }
}
@media only screen and (max-width:420px)
{
    .head{
        display: grid;
        background-color: #5876ee;
        font-size:0.4em;
        width: 100%; 
    }
    .head ul li {
        float: left;
        margin: 1px;
    }
    .nested{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap:0;
    }
    .leftmenu{
        overflow-y: scroll;
        overflow-x: hidden;
        padding-top: 20px;
        border-radius: 10px;
        width: 100%;
        background-color: #4D8FA9;
    }
    .leftmenu h2{
        text-align: center;
        padding-bottom: 3px;
        font-size: small;
    }
    .filter{
        max-width: 200px;
        margin: auto;
        padding: 20px;
    }
    .statistica{
        display: grid;
    }
    .generare{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .generare img{
        padding: 20px;
        height:90%;
        width: 90%;
    }
    .butoane div{
        background-color: crimson;
        margin: 5px;
        width: 40px;
        height: 30px;
    }
    .butoane div a{
        display: block;
        color: white;
        text-align: center;
        padding: 8px 5px;
        text-decoration: none;
        font-size:0.9em;
    }
    .footerAlign li {
        float: left;
        margin-right: 20px;
    }
}